<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.david.hlp.SpringBootWork.demo.mapper.DraggableTableMapper">

    <!-- 动态查询文章 -->
    <select id="getFilteredArticles" resultType="com.david.hlp.SpringBootWork.demo.entity.DraggableTable">
        SELECT *
        FROM draggable_table
        WHERE 1=1
        <if test="importance != null">
            AND importance = #{importance}
        </if>
        <if test="title != null and title != ''">
            AND title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
        ORDER BY ${sortField} ${sortOrder}
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 查询文章总数 -->
    <select id="countFilteredArticles" resultType="int">
        SELECT COUNT(*)
        FROM draggable_table
        WHERE 1=1
        <if test="importance != null">
            AND importance = #{importance}
        </if>
        <if test="title != null and title != ''">
            AND title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
    </select>

</mapper>
