<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.david.hlp.SpringBootWork.system.mapper.UserMapper">

    <!-- 查询用户详情，包括角色和权限 -->
    <select id="getUserByUsername" parameterType="string" resultMap="UserResultMap">
        SELECT
            u.id AS user_id,
            u.name AS user_name,
            u.email AS user_email,
            u.avatar AS user_avatar,
            r.id AS role_id,
            r.role_name AS role_name,
            p.id AS permission_id,
            p.permission AS permission_name
        FROM user u
                 LEFT JOIN role r ON u.role_id = r.id
                 LEFT JOIN role_permission rp ON r.id = rp.role_id
                 LEFT JOIN permission p ON rp.permission_id = p.id
        WHERE u.email = #{username}
    </select>

    <!-- ResultMap 定义 -->
    <resultMap id="UserResultMap" type="com.david.hlp.SpringBootWork.system.entity.UserInfo">

        <!-- 用户字段 -->
        <id property="id" column="user_id" />
        <result property="name" column="user_name" />
        <result property="email" column="user_email" />
        <result property="avatar" column="user_avatar" />
        <result property="status" column="user_status"/>
        <result property="introduction" column="introduction"/>

        <!-- 角色字段 -->
        <association property="roles" javaType="com.david.hlp.SpringBootWork.system.entity.Role">
            <id property="id" column="role_id" />
            <result property="roleName" column="role_name" />
            <result property="status" column="role_status"/>

            <!-- 权限字段 -->
            <collection property="permissions" ofType="com.david.hlp.SpringBootWork.system.entity.Permission">
                <id property="id" column="permission_id" />
                <result property="permission" column="permission_name" />
                <result property="status" column="Permission_status"/>
            </collection>
        </association>
    </resultMap>

    <select id="getFilteredUsers" resultMap="UserResultMap">
        SELECT DISTINCT
        u.id AS user_id,
        u.name AS user_name,
        u.email AS user_email,
        u.avatar AS user_avatar,
        r.id AS role_id,
        r.role_name AS role_name,
        p.id AS permission_id,
        p.permission AS permission_name,
        u.status AS user_status,
        r.status as role_status,
        p.status as Permission_status,
        u.introduction as `introduction`
        FROM (
        select
            *
        from user
        <where>
            <if test="userStatus != null">
                AND status = #{userStatus}
            </if>
        </where>
            LIMIT #{offset}, #{limit}
        ) as u
        LEFT JOIN role r ON u.role_id = r.id
        LEFT JOIN role_permission rp ON r.id = rp.role_id
        LEFT JOIN permission p ON rp.permission_id = p.id
        <where>
            <if test="name != null and name != ''">
                u.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="email != null and email != ''">
                AND u.email LIKE CONCAT('%', #{email}, '%')
            </if>
            <if test="role != null and role != ''">
                AND r.role_name = #{role}
            </if>
        </where>
        <if test="sort == 'ASC'">
            ORDER BY u.id ASC ,r.id, p.id
        </if>
        <if test="sort == 'DESC'">
            ORDER BY u.id DESC , r.id, p.id
        </if>
    </select>

    <select id="countFilteredUsers" resultType="int">
        SELECT COUNT(DISTINCT u.id)
        FROM user u
        LEFT JOIN role r ON u.role_id = r.id
        LEFT JOIN role_permission rp ON r.id = rp.role_id
        LEFT JOIN permission p ON rp.permission_id = p.id
        <where>
            <if test="name != null and name != ''">
                u.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="email != null and email != ''">
                AND u.email LIKE CONCAT('%', #{email}, '%')
            </if>
            <if test="role != null and role != ''">
                AND r.role_name = #{role}
            </if>
            <if test="userStatus != null">
                AND u.status = #{userStatus}
            </if>
        </where>
    </select>


    <!-- 查询用户详情，包括角色和权限 -->
    <select id="getUserInfoById" parameterType="Long" resultMap="UserResultMap">
        SELECT DISTINCT
            u.id AS user_id,
            u.name AS user_name,
            u.email AS user_email,
            u.avatar AS user_avatar,
            r.id AS role_id,
            r.role_name AS role_name,
            p.id AS permission_id,
            p.permission AS permission_name,
            u.status AS user_status,
            r.status as role_status,
            p.status as Permission_status,
            u.introduction as `introduction`
        FROM user u
                 LEFT JOIN role r ON u.role_id = r.id
                 LEFT JOIN role_permission rp ON r.id = rp.role_id
                 LEFT JOIN permission p ON rp.permission_id = p.id
        WHERE u.id = #{id}
    </select>

</mapper>